body {
    background-color: gray;
    font-family:"colfax-web",sans-serif;
    display: flex;
    flex-flow: row-wrap;
    height = 300px;
}
header{ 
	flex: 1 100%;
	order: 1;
	width: 100px;  /* Or whatever */
	height: 100px; /* Or whatever */
	margin: auto;  /* Magic! */
}
aside {
	flex: 1 100%;
	order: 2;
	width: 100px;  /* Or whatever */
	height: 100px; /* Or whatever */
	margin: auto;  /* Magic! */
}
section {
	flex: 1 100%;
	order: 3
	width: 100px;  /* Or whatever */
	height: 100px; /* Or whatever */
	margin: auto;  /* Magic! */
}
footer {
	flex: 1 100%;
	order 4;
	width: 100px;  /* Or whatever */
	height: 100px; /* Or whatever */
	margin: auto;  /* Magic! */
}
